<div class="container">
    <div class"row">
        <div class="col-12">

            <h1>Burgers!</h1>
            <h3>Insert burger image here</h3>

            <h3>Burgers to be devoured...</h3>
            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
            </ul>

            <h3>Devoured burgers...</h3>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}

            

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Add a Burger</h2>
            <form class="create-form">

            <div class="form-group">
                <label for="burger_name">Burger Name:</label>
                <input type="text" name="burger_name" id="burger_name">
            </div>

            <button type="submit">Add Burger</button>
            </form>

        </div>
    </div>
</div>

