<div class="container">
    <div class"row">
        <div class="col-12">

            <h1>Burgers!</h1>
            <h3>Insert burger image here</h3>
            {{#each burgers}}
                <p>Name: {{burger_name}}</p>
                <p>Devoured: {{devoured}}</p>
                <hr>
            {{/each}}


        </div>
    </div>
</div>
